.Model__main{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.70);
    top:0;
    left:0;
    display: flex;
    position: fixed;
    z-index: 0;
    justify-content: center;
    align-items: center;
}

.Model__container{
    width: 400px;
    margin: auto;
    height:auto;
    border-radius: 4px;
    padding: 15px;
    background-color: white;
    position: relative;
}

.Model__form--group{
    margin:.5rem 0;
}

.Model__form--close{
    position: absolute;
    bottom:102%;
    left: 99%;
    font-size: 2.3rem;
    cursor: pointer;
    color: #fff;
    z-index: 1;
}

.Model__input{
    width: 100%;
    height: 2.5rem;
    padding: 0 .9rem;
    border: 1px solid #d2dbdb;
    outline: none;
    border-radius: 1px;
}

.btn{
    outline: none;
    border: none;
    color: #fff;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.btn-smart{
    width: 100%;
    background: rgb(66, 135, 245);
}

.Model__form--group img{
    position: relative;
    left: 3px;
}

.Model__form--group span{
    cursor:pointer;
    font-size: 1rem;
}

.Model__container--txt{
    position: absolute;
    bottom: 105%;
    color:var(--white);
    left:21%;
}


@media only screen and (max-width: 483px){
    .Model__form--close{
        left: 93%;
        bottom: 105%;
    }
}


@media only screen and (max-width: 420px){
    .Model__form--close{
        left: 88%;
        bottom: 105%;
    }

    .Model__container{
        width: 330px;
    }
}

@media only screen and (max-width: 350px){
    .Model__form--close{
        left: 88%;
        bottom: 105%;
    }

    .Model__container{
        width: 260px;
    }
}


